.social {
  display: flex;
  flex-direction: column;
  min-width: 160px;

  &__block {
    display: flex;
    flex-wrap: wrap;

    padding-top: 22px;
    gap: 15px;
  }
}

.logo {
  margin-top: -14px;
}

@media (max-width: 992px) {
  .social {
    flex-direction: row;
    align-items: center;
    column-gap: 20px;

    &__block {
      padding-top: 0;
      gap: 10px;
    }
  }

  .logo {
    margin-top: 0;
  }
}